.cards__item {
  max-width: 200px;
  margin-right: 100px;
  text-align: center;
}

.cards__item:first-child {
  margin-left: 100px;
}

.cards__item:nth-child(3) {
  margin-right: 0px;
}

.cards__item:nth-child(4) {
  margin-left: 100px;
}