.page {
  display: flex;
  flex-direction: column;
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f2f2f2;
}

div {
  border: 1px solid rgb(255, 0, 0);
}
.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin-bottom: 200px;
  
  /* выше установили ограничения для секции */
}

.h1 {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.h2 {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.h3 {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.link {
  color: #2f80ed;
}

.logo {
  width: 228px;
  height: 32px;
}

.header__logo {
  position: absolute;
  top: 34px;
  left: 64px;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  align-self: center;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  z-index: -1;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  overflow: hidden;
  z-index: 2;
}

.main-illustration {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 1;
}



.content {
}

.description {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.two-colums {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-colums__breif {
  width: 175px;
}


.two-colums__main-text {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  min-width: 784px;
}

.two-colums__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-colums__paragraph:last-child {
  margin-bottom: 0;
}

.span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.digits__section-title {
  display: flex;
  width: 60%;
  margin-bottom: 20px;
  justify-content: center;
}

.digits__section-subtitle {
  display: flex;
  justify-content: center;
  width: 60%;
}

.table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin-bottom: 20px;
}

.table__text {
  margin-bottom: 20px;
}

.table__text:last-child {
  margin-bottom: 0px;
}

.h1_place_digits {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.h2_place_digits {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.h3_place_digits {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.p_place_digits {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

